@charset "UTF-8";

html, body {
	height: 100%;
	background-color: #f2f2f4;
}

#conteudo {
	height: 100%;
	width: 100%;
}

#geral {
	min-height: 100%;
	position: relative;
}

#topo {
	height: 120px;
	width: 100%;
}

.imagem {
	position: relative;
	top: 20px;
	left: 20px;
	height:90px;
	width: 190px;
}

.divTopo {
	border: 0.2px solid;
	border-color: gray;
	background-color: #000000;
	width: 100%;
	/*	background-image: linear-gradient(#0000CD, #000000); */
}

.divFooter {
	top: 1000px;
	width: 100%;
	align-items: center;
}

#painel {
	height: 100px;
}

.ui-widget, .ui-widget .ui-widget {
	font-size: 90%;
}

.divTopo {
	padding-bottom: 5px;
}

